@keyframes float-up {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    transform: translateY(-400%);
    opacity: 0;
  }
}

.emotes {
  overflow: hidden;
}

.emoji-animate {
  position: absolute;
  animation-name: float-up;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  will-change: transform, opacity;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .emotes {
    height: 300px;
  }

  .emoji-animate {
    font-size: 1.5rem;
  }
}